
.bar {
  fill: steelblue;
  transition: fill 0.2s ease; /* Smooth transition */
}

.bar-hover {
  fill: orange; /* Hover color */
}

.bar-clicked {
  fill: red;
}

.axis-label {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

#tooltip {
  position: absolute;
  opacity: 1;
  background: white;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  max-width: 250px;
  line-height: 1.5;
  pointer-events: none;
}

